

.main{
    margin-top: 50px;
    background-color: rgb(255, 241, 224);
    border: 1px solid #bc6c10;
    border-radius: 6px;
}

section{
    position: relative;
}

.tech{
    height: 700px;
}

.main:before{
    content: '';
    position: absolute;
    top: 1.3vw;
    bottom: -10000px;
    right: 0;
    width: 10000px;
    background: #fcb56f;
    z-index: -1;
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: rotate(-19.5deg);
    transform: rotate(-19.5deg);
}

.foot-logo{
    opacity: 0.4;
}